<div class="housing-notice-container">
  <div class="housing-notice booking-notice">
    <div class="title">
      <span class="icon">⚠️</span>
      <h2>Adding a housing from Booking.com</h2>
    </div>
    <div class="details">
      <p>
        You just gave us the <strong>hotel url</strong>.
        <br/>
        It's totally fine but we won't be able to get more information, such as the <strong>total price</strong>.
      </p>
      <p class="requirement">Make sure to:</p>
      <ol class="reservation-steps">
        <li>Select your rooms arrangement</li>
        <li>
          Click on
          <a href="#" class="booking-button ">Reserve</a>
        </li>
        <li>Give us the link of the <strong>reservation page</strong></li>
      </ol>
      <p class='no-worries'>
        😌 No worries, it won't actually reserve anything.
      </p>
    </div>
  </div>
</div>
