// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Rubik:400,500,700');
$base-font: 'Roboto Mono', monospace;
$header-font: 'Rubik', sans-serif;

// Sizes
$base-size:   16px;
$base-height: 1.4;
$header-font-weight: 700;
