<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'HOUSINGLIST', routes.root_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>
