<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/head" %>
  </head>
  <body class="<%= current_action %>">
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
