<!DOCTYPE html>
<html>
  <head>
    <title>Housing List</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= favicon %>
    <%= stylesheet :application %>
  </head>
  <body>
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
