<div class="banner housing-creation" style="background-image: url('<%= asset_path('lake-geneva.jpg') %>');">
  <%=
    form_for :housing, routes.trip_housings_path(trip.id) do
      div class: 'content' do
        h1 class: 'title' do
          text "You and your friends are heading to #{trip.destination} ðŸŒ ðŸ˜±"
        end

        div class: 'details-container' do
          div class: 'details' do
            div class: 'housing-url-label' do
              label 'Add a new potential housing place', for: 'housing-url'
            end

            div class: 'form-entry' do
              text_field :url, class: 'js-housing-url-input', placeholder: 'https://airbnb.com/rooms/589385'

              unless params.valid?
                p class: 'error-message' do
                  text 'You forgot to provide the housing URL'
                end
              end
            end
          end
        end
      end

      div class: 'action-container' do
        submit 'GO! ðŸ‘', class: 'btn btn-primary'
      end
    end
  %>
</div>

<div class="booking-container">
  <div class="booking-notice">
    <div class="title">
      <span class="icon">âš </span>
    <h2>
      Adding a housing from Booking.com
    </h2>
    </div>
    <div class="details">
      <p>
        You just gave us the <strong>hotel url</strong>.
        <br/>
        It's totally fine but we won't be able to get more information, such as the <strong>total price</strong>.
      </p>
      <p class="requirement">Make sure to:</p>
      <ol class="reservation-steps">
        <li>Select your rooms arrangement</li>
        <li>
          Click on
          <a href="#" class="booking-button ">Reserve</a>
        </li>
        <li>Give us the link of the <strong>reservation page</strong></li>
      </ol>
      <p class='no-worries'>
        ðŸ˜Œ No worries, it won't actually reserve anything.
      </p>
    </div>
  </div>
</div>
