.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  background-color: $brand-primary;
  color: $white;
  p {
    margin-bottom: 0px;
    a {
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}
