.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: $brand-primary;
  color: $white;

  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }

  p {
    margin-bottom: 0px;
  }
}
