a.navbar-brand {
  font-family: $header-font;
  font-weight: $header-font-weight;

  &:hover {
    border-bottom: none;
    padding-bottom: 0px;
  }
}

.navbar-sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar-home {
  border: none;
  background-color: transparent;
}

.navbar-right {
  display: flex;
  align-items: center;
  height: $navbar-height;

  a {
    margin: 0 0.5em;
  }

  a:hover {
    padding-top: 0;
  }
}

.navbar-default .navbar-nav > li > a.navbar-cta {
  color: $white;
  background-color: $raspberry;
  font-weight: $header-font-weight;
  padding: 0.5em 1.5em;
  border-bottom: none;

  &:hover {
    text-decoration: none;
    background-color: darken($raspberry, 5%)
  }
}
