@media (max-width: $screen-xs-max) {
  .nav > li.navbar-sm,
  .nav > li.dropdown {
    display: none;
  }
}

@media (min-width: $screen-sm-min) {
  .nav > li.navbar-xs {
    display: none;
  }
}

a.navbar-brand {
  font-family: $header-font;
  font-weight: $header-font-weight;

  &:hover {
    border-bottom: none;
    padding-bottom: 0px;
  }
}

.navbar-home {
  border: none;
  background-color: transparent;
}

.navbar-right {
  display: flex;
  align-items: center;
  height: $navbar-height;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    align-items: flex-end;
    min-height: 150px;
    justify-content: space-around;
  }

  .navbar-link {
    margin: 0 0.5em;

    &:hover {
      padding-top: 0;
    }
  }
}

.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus {
  border-bottom-style: none;
  padding-bottom: 3px;
}

.navbar-default .navbar-avatar {
  &:hover {
    border-bottom-style: none;
  }

  img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0.5em;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:active,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-default .navbar-logout-btn {
  text-align: left;
  padding: 3px 20px;
  border: 0;
  width: 100%;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: $screen-sm-min) {
    color: $black;

    &:hover {
      color: $dropdown-link-hover-color;
      padding-bottom: 2px;
      background-color: $dropdown-link-hover-bg;
    }
  }
}

.navbar-default .navbar-nav > li > a.navbar-cta {
  color: $white;
  font-weight: $header-font-weight;
  margin-right: 1em;
  padding: 0.5em 1.5em;
  border-bottom: none;

  @media (max-width: $screen-xs-max) {
    background-color: transparent;
    padding-right: 15px;

    &:hover {
      background-color: transparent;
    }
  }

  @media (min-width: $screen-sm-min) {
    background-color: $raspberry;

    &:hover {
      text-decoration: none;
      background-color: darken($raspberry, 5%)
    }
  }
}

.navbar-default .navbar-toggle {
  border-color: $white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $white;
}

.navbar-sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
