$housing-card-image-width: 230px;

.housing-cards {
  @media (max-width: $screen-xs-max) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
  }

  @media (min-width: $screen-sm-min) {
    margin-top: 4em;
  }
}

.housing-card {
  display: flex;
  margin-bottom: 1.5em;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    align-items: center;
    min-width: 295px;
  }

  @media (min-width: $screen-sm-min) {
    flex-wrap: wrap;
    position: relative;
  }

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: $housing-card-image-width;
  }

  .title {
    margin-top: 0;
    font-size: $base-size;
    font-weight: 500;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    @media (max-width: $screen-xs-max) {
      width: $housing-card-image-width;
      margin: 2em 2em 1em 2em;
    }

    @media (min-width: $screen-sm-min) {
      margin-left: 2em;
      width: 50%;
    }

    @media (min-width: $screen-md-min) {
      padding-bottom: 1em;
    }
  }

  .description {
    margin-bottom: 1em;
  }

  .picture {
    min-width: $housing-card-image-width; // [ipad] if not present, the div width is smaller than the image it contains

    img {
      width: $housing-card-image-width;
      height: $housing-card-image-width;
    }
  }

  .price {
    align-self: flex-start;
    min-width: 170px;
    text-align: right;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin-bottom: 2em;
      text-align: center;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: $housing-card-image-width;
      margin-left: 0;
      text-align: left;
    }

    span {
      display: inline-block;
      min-width: 100px;
      padding: 0.5em 1em;
      text-align: center;
      color: $white;
      background-color: $blue;

      @media (max-width: $screen-xs-max) {
        width: $housing-card-image-width;
      }

      @media (max-width: $screen-sm-max) {
        width: $housing-card-image-width;
      }
    }
  }

  .proposer {
    display: flex;
    align-items: center;
  }

  .proposal-date, .proposer-name {
    display: block;
  }

  .proposal-date {
    color: $gray;
  }

  .proposer-picture {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 1em;
  }
}

.housing-card--empty {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.housing-card--pending {
  .details {
    color: $gray;

    a {
      color: $gray;
    }
  }

  .price {
    span {
      letter-spacing: 0.13em;
      background-color: $gray;
    }
  }

  .proposer-picture {
    filter: grayscale(100%);
  }
}
