.housing-card {
  display: flex;
  height: 230px;
  margin-bottom: 1em;

  .title {
    margin-top: 0;
    font-size: $base-size;
    font-weight: 500;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    margin: 2em;
  }

  .description {
    margin-bottom: 1em;
  }

  .picture {
    img {
      width: 230px;
      height: 230px;
    }
  }

  .price {
    align-self: flex-start;
    margin-top: 2em;
    min-width: 170px;
    text-align: right;

    span {
      display: inline-block;
      min-width: 100px;
      padding: 0.5em 1em;
      text-align: center;
      color: $white;
      background-color: $blue;
    }
  }

  .proposer {
    display: flex;
    align-items: center;
  }

  .proposal-date, .proposer-name {
    display: block;
  }

  .proposal-date {
    color: $gray;
  }

  .proposer-picture {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 1em;
  }
}

.housing-card--pending {
  .details {
    color: $gray;

    a {
      color: $gray;
    }
  }
  .price {
      span {
        letter-spacing: 0.13em;
        background-color: $gray-light;
      }
    }
}
