<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1 user-authentication-container">
      <div class="user-authentication">
        <h1>Sign in</h1>
        <%=
          form_for :user, routes.user_sign_in_path do
            if flash[:alert]
              p class: 'error-message' do
                text flash[:alert]
              end
            end

            div class: 'form-group' do
              label 'Email', for: 'user-email'
              email_field :email, placeholder: 'Your email', class: 'form-control'
            end

            div class: 'form-group' do
              label 'Password', for: 'user-password'
              password_field :password, placeholder: 'Hope you remember it ;)', class: 'form-control'
            end

            div do
              submit 'Sign in', class: 'btn btn-primary'
            end
          end
        %>
        <div class="authentication-links">
          <%= link_to "No account yet?", routes.user_sign_up_path %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-1 side-banner" style="background-image: url('<%= asset_path('lake-geneva.jpg') %>');">
    </div>
  </div>
</div>
