.home-banner {
  background-image: linear-gradient(141deg, $brand-primary 25%, #8EEDD9 85%, #C6FDF1 100%, $white 100%);
  color: $white;
  position: relative;

  @media (min-width: $screen-sm-min) {
    text-align: center;
  }

  .navbar {
    border: none;
    background-color: transparent;
  }

  .navbar-cta {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }

  &-cta {
    display: inline-block;
    padding: 0.6em;
    margin-top: 2em;

    color: $white;
    background-color: $raspberry;

    &:hover {
      color: $white;
      background-color: darken($raspberry, 5%)
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 3em;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (min-width: $screen-sm-min) {
      margin-top: 3em;
      padding-bottom: 250px;
    }

    .title, .explanation {
      margin: 0 1em;
    }

    .title {
      font-size: 2.1em;
      margin: 1em;

      @media (max-width: $screen-md-max) {
        max-width: 560px;
      }
    }

    .explanation {
      @media (max-width: $screen-xs-max) {
        margin: 0 2em;
      }

      @media (min-width: $screen-sm-min) {
        margin-top: 1em;
      }
    }

    .prompt {
      margin-top: 1.5em;
      font-weight: bold;
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start; // [chrome] if not present, the height of the screenshot image is strechted

    @media (min-width: $screen-sm-min) {
      position: absolute;
      bottom: -351.25px;
      left: 0;
      right: 0;
    }
  }

  .trip-screenshot {
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }

    @media (min-width: $screen-sm-min) {
      width: 720px;
      height: 570px;
    }
  }
}

.home-stats {
  padding: 0 0.7em 20px;
  color: $black;
  background-color: $gray-lighter;
  display: flex;
  justify-content: center;
  font-family: $header-font;

  @media (max-width: $screen-xs-max) {
    padding-top: 2em;
    text-align: center;
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 380px;
  }
}

.home-featurettes {
  @media (max-width: $screen-xs-max) {
    padding: 1.5em;
  }

  @media (min-width: $screen-sm-min) {
    padding: 3em;
  }

  .featurettes-list {
    display: flex;
    justify-content: center;

    @media (max-width: $screen-xs-max) {
      flex-wrap: wrap;
    }

    .featurette {
      padding: 1.5em;
      text-align: center;

      &-description {
        text-align: left;
        line-height: 1.7em;
        max-width: 300px;
      }

      @media (max-width: $screen-xs-max) {
        &-title {
          margin: 0.7em 0;
        }

        &-icon {
          font-size: 2.5m;
        }
      }

      @media (min-width: $screen-sm-min) {
        max-width: 30%;
        &-title {
          margin: 1em 0;
        }

        &-icon {
          font-size: 3em;
        }
      }
    }
  }
}

.home-supported-providers {
  text-align: center;
  padding: 0 0 3em;

  @media (max-width: $screen-xs-max) {
    padding: 0 0.9em 2em
  }

  h4 {
    margin-bottom: 1.5em;
  }

  .supported-provider-picture {
    width: 180px;
    margin-bottom: 1.5em;

    @media (max-width: $screen-xs-max) {
      width: 100px;
    }
  }
}
