.profile-edition {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #B4D2DD; // main color from the background color
  background-position: center;

  .content {
    background: transparent;
    padding: 2em 0;
  }

  .action-container {
    position: inherit;
  }

  .avatar-container {
    position: absolute;
    top: -50px; // [avatar] half of the height of the avatar
    left: 0;
    right: 0;
    text-align: center;
  }

  .avatar {
    width: 100px; // be sure to change the properties tagged with [avatar]
    height: 100px; // be sure to change the properties tagged with [avatar]
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:hover {
      .avatar-picture-upload-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .avatar-picture-upload-overlay {
      display: none;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      margin: 0 auto;
      background-color: rgba(0,0,0,0.3);

      label i.fa {
        color: $white;
        font-size: 2em;
        vertical-align: center;
        cursor: pointer;
      }
    }
  }


  .details {
    position: relative;
    margin-top: 5em;
    margin-bottom: 2em;
    padding: 5em 2em 2em 2em;

    @media (min-width: $screen-sm-min) {
      min-width: 550px;
    }
  }

  .error-message {
    margin-bottom: 1.5em;
  }

  .action-container {
    text-align: center;
  }

  .title {
    color: $black;
    margin: 0 1em;
    font-weight: $header-font-weight;
  }

  #profile-first-name,
  #profile-last-name {
    max-width: 150px;
  }

  .profile-email-entry {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm-min) {
      flex-direction: row;
    }
  }

  #profile-email {
    flex-grow: 1;

    @media (min-width: $screen-sm-min) {
      margin-left: 0.5em;
    }
  }
}
