.trip-creation {
  .details {
    @media (max-width: $screen-xs-max) {
      padding: 2em;
    }

    @media (min-width: $screen-sm-min) {
      min-width: 475px;
    }
  }

  .error-message {
    margin-bottom: 1.5em;
  }

  .form-entry:not(:last-child) {
    margin-bottom: 1em;
  }

  .trip-creation-form {
    label {
      font-weight: $base-font-weight;
    }

    input {
      border: none;
      font-weight: $header-font-weight;

      &:focus {
        outline: 0;
      }

      &::placeholder {
        color: $raspberry;
        font-weight: $base-font-weight;
      }
    }

    .trip-dates {
      display: flex;

      @media (max-width: $screen-xs-max) {
        flex-direction: column;
      }

      .trip-date:not(:last-child) {
        @media (max-width: $screen-xs-max) {
          margin-bottom: 1em;
        }
      }
    }

    #trip-travelers-count {
      -moz-appearance: textfield;
      width: 6rem;
      text-align: center;

      &:focus {
        -moz-appearance: number-input;
      }
    }

    #trip-starting-on, #trip-ending-on {
      width: 15.5rem;
    }

    #trip-starting-on {
      text-align: center;

      @media (max-width: $screen-xs-max) {
        text-align: left;
      }

      @media (min-width: $screen-sm-min) {
        margin-right: 0.5em;
      }
    }

    #trip-ending-on {
      @media (min-width: $screen-sm-min) {
        margin-left: 1em;
      }
    }
  }
}

.trip-invitation {
  text-align: center;
  padding-top: 1em;

  #trip-invitation-link {
    text-align: center;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      padding: 0.25em;
    }

    @media (min-width: $screen-sm-min) {
      border: none;
      min-width: 450px;
    }
  }
}

.trip-show {
  .details {
    display: flex;

    @media (max-width: $screen-xs-max) {
      flex-direction: column;
      text-align: center;
    }

    @media (min-width: $screen-sm-min) {
      justify-content: space-between;
    }
  }

  .overview {
    margin-bottom: 0;
    text-align: left;

    @media (max-width: $screen-xs-max) {
      padding: 1.5em;

      &:first-child {
        padding-bottom: 0.5em;
      }
    }

    li:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }
}

.trip-status {
  margin-top: 1em;
  text-align: center;
  font-size: 23px;

  @media (min-width: $screen-sm-min) {
    margin-top: 2em;
  }

  .icon {
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
}
