.trips {
  .no-gutter {
    padding-left: 0;
    padding-right: 0;
  }

  .no-trips-found {
    text-align: center;
    margin-bottom: 2.5em;

    .globe {
      margin-top: 2em;
      height: 200px;
      filter: grayscale(100%);
    }

    .message {
      font-size: 23px;
      margin-bottom: 1em;
      margin-top: 2em;
    }
  }
}

.trips-navbar {
  background-color: $blue;
  color: $white;
  margin-bottom: 2em;

  ul {
    margin-bottom: 0;
  }

  li {
    padding: 0.3em 0.5em 0.4em 0.5em;
    font-weight: $header-font-weight;
    padding-left: 1em;

    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }

    &.active {
      @media (max-width: $screen-xs-max) {
        background-color: $gray;
        color: $white;

        a:hover {
          color: $blue;
        }
      }

      @media (min-width: $screen-sm-min) {
        border-bottom: 4px solid $gray-light;
      }
    }

    a {
      color: $white;

      &:hover {
        border-bottom-style: none;
        color: $link-color;
      }
    }
  }
}

.trip-card {
  display: flex;
  margin-bottom: 1.5em;
  min-height: 200px;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
  }

  .banner-picture {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px; // important for mobile
  }

  .banner-picture-link {
    width: 100%;
    height: 100%;
    display: block;
  }

  .content {
    align-self: center;

    @media (max-width: $screen-xs-max) {
      padding: 0 1em;
      margin-bottom: 1em;
    }

    @media (min-width: $screen-sm-min) {
      padding: 0;
    }
  }

  .details {
    margin-top: 1.5em;

    li {
      margin: 0.5em 0;
    }
  }

  .summary {
    @media (min-width: $screen-sm-min) {
      margin-left: 1.5em;
    }
  }

  .title {
    margin-bottom: 0.25em;
    font-size: 23px;
    font-weight: $header-font-weight;
    color: $black;

    &:hover {
      color: $link-color;
    }
  }
}

.trip-creation, .trip-edition {
  .details {
    @media (max-width: $screen-xs-max) {
      padding: 2em;
    }

    @media (min-width: $screen-sm-min) {
      min-width: 475px;
    }
  }

  .trip-creation-form {
    .trip-dates {
      display: flex;

      @media (max-width: $screen-xs-max) {
        flex-direction: column;
      }

      .trip-date:not(:last-child) {
        @media (max-width: $screen-xs-max) {
          margin-bottom: 1em;
        }
      }
    }

    #trip-destination, #trip-ending-on {
      @media (min-width: $screen-sm-min) {
        padding-left: 1em;
      }
    }

    #trip-travelers-count {
      -moz-appearance: textfield;
      width: 6rem;
      text-align: center;

      &:focus {
        -moz-appearance: number-input;
      }
    }

    #trip-starting-on, #trip-ending-on {
      width: 15.5rem;
    }

    #trip-starting-on {
      text-align: center;

      @media (max-width: $screen-xs-max) {
        text-align: left;
      }

      @media (min-width: $screen-sm-min) {
        margin-right: 0.5em;
      }
    }

    #trip-ending-on {
      @media (min-width: $screen-sm-min) {
        margin-left: 1em;
      }
    }
  }
}

.trip-invitation {
  text-align: center;
  padding-top: 1em;

  #trip-invitation-link {
    text-align: center;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      padding: 0.25em;
    }


    @media (min-width: $screen-sm-min) {
      border: none;
      min-width: 450px;
    }
  }
}

.trip-show {
  .content {
    position: relative;

    .edit-trip-link {
      position: absolute;
      top: 0.9em;
      right: 0.9em;
    }
  }

  .details {
    display: flex;

    @media (max-width: $screen-xs-max) {
      flex-direction: column;
      text-align: center;
    }

    @media (min-width: $screen-sm-min) {
      min-width: auto;
      justify-content: space-between;
    }
  }

  .overview {
    margin-bottom: 0;
    text-align: left;

    @media (max-width: $screen-xs-max) {
      padding: 1.5em;

      &:not(:last-child) {
        padding-bottom: 0.5em;
      }
    }

    li:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }

  .overview-housing {
    @media (min-width: $screen-sm-min) {
      padding-right: 2em;
    }
  }
}

.trip-edition {
  #background-picture-label {
    position: absolute;
    top: 0.9em;
    right: 0.9em;
    font-size: 1.5em;
    color: $gray;

    &:hover {
      cursor: pointer;
    }
  }
}

.trip-status {
  margin-top: 1em;
  text-align: center;
  font-size: 23px;

  @media (min-width: $screen-sm-min) {
    margin-top: 2em;
  }

  .icon {
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
}
