.trip {
  margin-bottom: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }

  .title {
    margin: 2.5em 0 1.5em 0;
    color: $white;
    font-size: 23px;
    font-weight: $base-font-weight;
  }

  .details-container {
    position: relative;
    padding: 2em 0;
    &:after {
      content:"";
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid $white;
      transform: translate(-50%);
    }
  }

  .details {
    display: flex;
    justify-content: space-between;

    padding: 2em 2.5em;

    min-width: 750px;
    background-color: $white;
  }

  .overview {
    margin-bottom: 0;

    li:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }
}

.trip-status {
  margin: 1em 0 2em 0;
  text-align: center;
  font-size: 23px;
}
