<% housings.each do |housing| %>
  <%= render partial: "housings/#{housing_card_partial(housing)}", locals: { housing: housing, trip: trip } %>
<% end %>

<% if housings.size.odd? %>
  <div class="housing-card housing-card--empty"><!-- empty one --></div>
<% end %>
