<div class="no-trips-found">
  <%= image 'globe.svg', class: "globe" %>
  <p class="message">
    You have no <strong><%= trips_status %></strong> trips.
  </p>
  <%= link_to "Let's plan a NEW TRIP! 🙌", routes.new_trip_path, class: 'btn btn-primary' %>
</div>
