<div class="banner trip-edition" style="background-image: url('<%= trip.background_picture_url(version: :banner) %>');">
  <%=
    form_for :trip, routes.trip_path(trip.id), class: 'human-form trip-creation-form', enctype: 'multipart/form-data', method: :patch, values: { trip: trip } do
      div class: 'content' do
        h1 class: 'title' do
          text 'Give us your future trip information! 😬'
        end

        div class: 'details-container' do
          div class: 'details' do
            unless params.valid?
              p class: 'error-message' do
                text 'Please fill in all your trip information'
              end
            end

            div class: 'form-entry' do
              label 'We are', for: 'trip-travelers-count'
              number_field :travelers_count, placeholder: 'some'
              text 'friends'
            end

            div class: 'form-entry' do
              label 'going to', for: 'trip-destination'
              text_field :destination, placeholder: 'some place'
            end

            div class: 'form-entry trip-dates' do
              div class: 'trip-date' do
                label 'from', for: 'trip-starting-on'
                date_field :starting_on, placeholder: 'a date'
              end
              div class: 'trip-date' do
                label 'to', for: 'trip-ending-on'
                date_field :ending_on, placeholder: 'another date'
              end
            end

            label "background-picture", id: "background-picture-label" do
              i(class: "fa fa-picture-o", 'aria-hidden' => true)
            end
            file_field :background_picture, class: "hidden"
            # , onchange: "displayBackgroundPicturePreview(this.files)"
          end
        end
      end

      div class: 'action-container' do
        submit 'GO! 🦄', class: 'btn btn-primary'
      end
    end
  %>
</div>
